@model IEnumerable<EmprestimoLivros.Models.EmprestimosModel>

@{
    ViewData["title"] = "index";
}



<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro emprestado</th>
            <th scope="col">Data do empréstimo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach(var emprestimos in Model)
            {
                <tr>
                    <th scope="row">@emprestimos.Recebedor</th>
                    <td>@emprestimos.Fornecedor</td>
                    <td>@emprestimos.LivroEmprestado</td>
                    <td>@emprestimos.DataUltimaAtualizacao</td>
                </tr>
            }
        }
    </tbody>
</table>
